@model SIGA.DAL.LocalInstalacao
@{
    ViewBag.Title = "Local de Instalação";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Início", "Index", "Home")</li>
    <li>@Html.ActionLink("Listagem", "Index", "LocalInstalacao")</li>
    <li class="active">Local de Instalação</li>
</ol>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            
            <div class="form-group">
                @Html.LabelFor(model => model.Tag)
                @Html.TextBoxFor(model => model.Tag , new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tag)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.TagPai)
                @Html.TextBoxFor(model => model.TagPai, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TagPai)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.SubSistema)
                @Html.TextBoxFor(model => model.SubSistema , new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubSistema)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Critico)
                @Html.TextBoxFor(model => model.Critico , new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Critico)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.FamiliaID, "Família")
                @Html.DropDownList("FamiliaID", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FamiliaID)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.ProcessoID, "Processo")
                @Html.DropDownList("ProcessoID", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProcessoID)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.UsinaID, "Usina")
                @Html.DropDownList("UsinaID", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UsinaID)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.DisciplinaID, "Disciplina")
                @Html.DropDownList("DisciplinaID", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DisciplinaID)
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.SiteID, "Site")
                @Html.DropDownList("SiteID", null, String.Empty, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SiteID)
            </div>

            <button class="btn btn-primary btn-success"><i class="glyphicon glyphicon-save"></i> Salvar</button>
            <span>ou</span>
            @Html.ActionLink("voltar à listagem", "Index")
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}